schemas/Bill.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Wed Mar 25 2015 11:55:36 
		GMT-0400 (EDT) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="bill">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="billIntroducedDate" type="xs:dateTime"></xs:element>
				<xs:element name="parliamentSession">
					<xs:complexType>
						<xs:attribute name="parliamentNumber" type="xs:int"></xs:attribute>
						<xs:attribute name="sessionNumber" type="xs:int"></xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="billNumber">
					<xs:complexType>
						<xs:attribute name="prefix" type="xs:string"></xs:attribute>
						<xs:attribute name="number" type="xs:int"></xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="billTitle">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="title" maxOccurs="unbounded" type="xs:string">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="language" type="xs:string"></xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="shortTitle">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="title" maxOccurs="unbounded" type="xs:string">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="language" type="xs:string"></xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="billType">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="title" maxOccurs="unbounded" type="xs:string">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="language" type="xs:string"></xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="sponsorAffiliation">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="title" maxOccurs="unbounded" type="xs:string">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="language" type="xs:string"></xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="person">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="fullName" type="xs:string"></xs:element>
										<xs:element name="firstName" type="xs:string"></xs:element>
										<xs:element name="middleName" type="xs:string"></xs:element>
										<xs:element name="lastName" type="xs:string"></xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:int"></xs:attribute>
									<xs:attribute name="gender" type="xs:string"></xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="politicalParty">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="title" maxOccurs="unbounded"
											type="xs:string">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="language" type="xs:string"></xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="abbreviation">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="title" maxOccurs="unbounded"
														type="xs:string">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="language" type="xs:string"></xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:int"></xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="comingIntoForce">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="information">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="title" maxOccurs="unbounded"
											type="xs:string">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="language" type="xs:string"></xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="legisInfoNotes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="title" maxOccurs="unbounded" type="xs:string">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="language" type="xs:string"></xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="primeMinister">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="title" maxOccurs="unbounded" type="xs:string">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="language" type="xs:string"></xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="person">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="fullName" type="xs:string"></xs:element>
										<xs:element name="firstName" type="xs:string"></xs:element>
										<xs:element name="middleName"></xs:element>
										<xs:element name="lastName" type="xs:string"></xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:int"></xs:attribute>
									<xs:attribute name="gender" type="xs:string"></xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="politicalParty">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="title" maxOccurs="unbounded"
											type="xs:string">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="language" type="xs:string"></xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="abbreviation">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="title" maxOccurs="unbounded"
														type="xs:string">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="language" type="xs:string"></xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:int"></xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="statute">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="year" type="xs:int"></xs:element>
							<xs:element name="chapter" type="xs:int"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="publications">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="publication" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="title" maxOccurs="unbounded"
											type="xs:string">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="language" type="xs:string"></xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="publicationFiles">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="publicationFile" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="language" type="xs:string"></xs:attribute>
																	<xs:attribute name="relativePath" type="xs:string"></xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:int"></xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="events">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="lastMajorStageEvent">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="event">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="status">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="title" maxOccurs="unbounded"
																	type="xs:string">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="language" type="xs:string"></xs:attribute>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="description" type="xs:string">></xs:element>
												</xs:sequence>
												<xs:attribute name="id" type="xs:int"></xs:attribute>
												<xs:attribute name="chamber" type="xs:string"></xs:attribute>
												<xs:attribute name="date" type="xs:date"></xs:attribute>
												<xs:attribute name="meetingNumber" type="xs:int"></xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="progress" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="legislativeEvents">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="event" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="status">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="title" maxOccurs="unbounded"
																	type="xs:string">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="language" type="xs:string"></xs:attribute>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="description" type="xs:string"></xs:element>
												</xs:sequence>
												<xs:attribute name="id" type="xs:int"></xs:attribute>
												<xs:attribute name="chamber" type="xs:string"></xs:attribute>
												<xs:attribute name="date" type="xs:date"></xs:attribute>
												<xs:attribute name="meetingNumber" type="xs:int"></xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="laagCurrentStage" type="xs:string"></xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:int"></xs:attribute>
			<xs:attribute name="lastUpdated" type="xs:dateTime"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>