schemas/Bill.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Wed Mar 25 2015 11:55:36 
		GMT-0400 (EDT) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="Bill">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BillIntroducedDate" type="xs:dateTime"></xs:element>
				<xs:element name="ParliamentSession">
					<xs:complexType>
						<xs:attribute name="parliamentNumber" type="xs:int"></xs:attribute>
						<xs:attribute name="sessionNumber" type="xs:int"></xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="BillNumber">
					<xs:complexType>
						<xs:attribute name="prefix" type="xs:string"></xs:attribute>
						<xs:attribute name="number" type="xs:int"></xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="BillTitle">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Title" maxOccurs="unbounded" type="xs:string">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="language" type="xs:string"></xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ShortTitle">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Title" maxOccurs="unbounded" type="xs:string">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="language" type="xs:string"></xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BillType">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Title" maxOccurs="unbounded" type="xs:string">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="language" type="xs:string"></xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SponsorAffiliation">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Title" maxOccurs="unbounded" type="xs:string">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="language" type="xs:string"></xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Person">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FullName" type="xs:string"></xs:element>
										<xs:element name="FirstName" type="xs:string"></xs:element>
										<xs:element name="MiddleName"></xs:element>
										<xs:element name="LastName" type="xs:string"></xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:int"></xs:attribute>
									<xs:attribute name="Gender" type="xs:string"></xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="PoliticalParty">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Title" maxOccurs="unbounded"
											type="xs:string">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="language" type="xs:string"></xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="abbreviation">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Title" maxOccurs="unbounded"
														type="xs:string">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="language" type="xs:string"></xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:int"></xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="ComingIntoForce">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Information">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Title" maxOccurs="unbounded"
											type="xs:string">
											<xs:complexType>
													<xs:simpleContent>
														<xs:extension base="xs:string">
															<xs:attribute name="language" type="xs:string"></xs:attribute>
														</xs:extension>
													</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LegisInfoNotes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Title" maxOccurs="unbounded" type="xs:string">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="language" type="xs:string"></xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PrimeMinister">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Title" maxOccurs="unbounded" type="xs:string">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="language" type="xs:string"></xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Person">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FullName" type="xs:string"></xs:element>
										<xs:element name="FirstName" type="xs:string"></xs:element>
										<xs:element name="MiddleName"></xs:element>
										<xs:element name="LastName" type="xs:string"></xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:int"></xs:attribute>
									<xs:attribute name="Gender" type="xs:string"></xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="PoliticalParty">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Title" maxOccurs="unbounded"
											type="xs:string">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="language" type="xs:string"></xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="abbreviation">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Title" maxOccurs="unbounded"
														type="xs:string">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="language" type="xs:string"></xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:int"></xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Statute">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Year" type="xs:int"></xs:element>
							<xs:element name="Chapter" type="xs:int"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Publications">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Publication" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Title" maxOccurs="unbounded"
											type="xs:string">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="language" type="xs:string"></xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="PublicationFiles">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PublicationFile" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="language" type="xs:string"></xs:attribute>
																	<xs:attribute name="relativePath" type="xs:string"></xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:int"></xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Events">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LastMajorStageEvent">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Event">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Status">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Title" maxOccurs="unbounded"
																	type="xs:string">
																	<xs:complexType>
																			<xs:simpleContent>
																				<xs:extension base="xs:string">
																					<xs:attribute name="language" type="xs:string"></xs:attribute>
																				</xs:extension>
																			</xs:simpleContent>
																		</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Description"></xs:element>
												</xs:sequence>
												<xs:attribute name="id" type="xs:int"></xs:attribute>
												<xs:attribute name="chamber" type="xs:string"></xs:attribute>
												<xs:attribute name="date" type="xs:date"></xs:attribute>
												<xs:attribute name="meetingNumber" type="xs:int"></xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Progress" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="LegislativeEvents">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Event" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Status">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Title" maxOccurs="unbounded"
																	type="xs:string">
																	<xs:complexType>
																			<xs:simpleContent>
																				<xs:extension base="xs:string">
																					<xs:attribute name="language" type="xs:string"></xs:attribute>
																				</xs:extension>
																			</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Description"></xs:element>
												</xs:sequence>
												<xs:attribute name="id" type="xs:int"></xs:attribute>
												<xs:attribute name="chamber" type="xs:string"></xs:attribute>
												<xs:attribute name="date" type="xs:date"></xs:attribute>
												<xs:attribute name="meetingNumber" type="xs:int"></xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="laagCurrentStage" type="xs:string"></xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:int"></xs:attribute>
			<xs:attribute name="lastUpdated" type="xs:dateTime"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>