schemas/MemberExpenditureReports.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Wed Mar 25 2015 15:13:58 
		GMT-0400 (EDT) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="memberExpenditureReports">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="report">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="startDate" type="xs:date"></xs:element>
							<xs:element name="endDate">
								<xs:complexType>
									<xs:attribute name="xsi:nil" type="xs:string"></xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="constituency">
								<xs:complexType>
									<xs:attribute name="id" type="xs:int"></xs:attribute>
									<xs:attribute name="name-en" type="xs:string"></xs:attribute>
									<xs:attribute name="name-fr" type="xs:string"></xs:attribute>
									<xs:attribute name="numberOfElectors" type="xs:int"></xs:attribute>
									<xs:attribute name="size" type="xs:int"></xs:attribute>
									<xs:attribute name="sizeUnit" type="xs:string"></xs:attribute>
									<xs:attribute name="province" type="xs:string"></xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="member">
								<xs:complexType>
									<xs:attribute name="lastName" type="xs:string"></xs:attribute>
									<xs:attribute name="firstName" type="xs:string"></xs:attribute>
									<xs:attribute name="status" type="xs:string"></xs:attribute>
									<xs:attribute name="party-en" type="xs:string"></xs:attribute>
									<xs:attribute name="party-fr" type="xs:string"></xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="expenditureCategories">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="category" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="membersBudget">
														<xs:complexType>
															<xs:attribute name="value" type="xs:double"></xs:attribute>
															<xs:attribute name="currency" type="xs:string"></xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="resourcesProvidedByTheHouse">
														<xs:complexType>
															<xs:attribute name="xsi:nil" type="xs:string"></xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="travelPoints"></xs:element>
													<xs:element name="total">
														<xs:complexType>
															<xs:attribute name="value" type="xs:double"></xs:attribute>
															<xs:attribute name="currency" type="xs:string"></xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="subCategories"></xs:element>
												</xs:sequence>
												<xs:attribute name="id" type="xs:string"></xs:attribute>
												<xs:attribute name="name-en" type="xs:string"></xs:attribute>
												<xs:attribute name="name-fr" type="xs:string"></xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="expenditureTotals">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="membersBudget">
											<xs:complexType>
												<xs:attribute name="value" type="xs:double"></xs:attribute>
												<xs:attribute name="currency" type="xs:string"></xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="resourcesProvidedByTheHouse">
											<xs:complexType>
												<xs:attribute name="value" type="xs:double"></xs:attribute>
												<xs:attribute name="currency" type="xs:string"></xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="travelPoints">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="points" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string"></xs:attribute>
															<xs:attribute name="value" type="xs:double"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="total">
											<xs:complexType>
												<xs:attribute name="value" type="xs:double"></xs:attribute>
												<xs:attribute name="currency" type="xs:string"></xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="footnote"></xs:element>
						</xs:sequence>
						<xs:attribute name="type" type="xs:string"></xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="xmlns:xsd" type="xs:string"></xs:attribute>
			<xs:attribute name="xmlns:xsi" type="xs:string"></xs:attribute>
			<xs:attribute name="id" type="xs:string"></xs:attribute>
			<xs:attribute name="startDate" type="xs:date"></xs:attribute>
			<xs:attribute name="endDate" type="xs:date"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>