schemas/MemberOfParliamentList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Wed Mar 25 2015 16:06:47 
		GMT-0400 (EDT) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="memberOfParliamentList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="memberOfParliament" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="personShortHonorific" type="xs:string"></xs:element>
							<xs:element name="personOfficialFirstName" type="xs:string"></xs:element>
							<xs:element name="personOfficialLastName" type="xs:string"></xs:element>
							<xs:element name="constituencyName" type="xs:string"></xs:element>
							<xs:element name="constituencyProvinceTerritoryName"
								type="xs:string"></xs:element>
							<xs:element name="caucusShortName" type="xs:string"></xs:element>
							<xs:element name="fromDateTime" type="xs:dateTime"></xs:element>
							<xs:element name="toDateTime">
								<xs:complexType>
									<xs:attribute name="xsi:nil" type="xs:string"></xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="xmlns:xsd" type="xs:string"></xs:attribute>
			<xs:attribute name="xmlns:xsi" type="xs:string"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>