schemas/MemberVotes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Wed Mar 25 2015 16:07:46 
		GMT-0400 (EDT) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="MemberVotes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VoteParticipant" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ParliamentNumber" type="xs:int"></xs:element>
							<xs:element name="SessionNumber" type="xs:int"></xs:element>
							<xs:element name="DecisionEventDateTime" type="xs:dateTime"></xs:element>
							<xs:element name="DecisionResultName" type="xs:string"></xs:element>
							<xs:element name="DecisionIsAgreedTo" type="xs:string"></xs:element>
							<xs:element name="DecisionIsNegatived" type="xs:string"></xs:element>
							<xs:element name="DecisionIsTied" type="xs:string"></xs:element>
							<xs:element name="DecisionDivisionNumber" type="xs:int"></xs:element>
							<xs:element name="DecisionDivisionSubject" type="xs:string"></xs:element>
							<xs:element name="DecisionDivisionNumberOfYeas" type="xs:int"></xs:element>
							<xs:element name="DecisionDivisionNumberOfNays" type="xs:int"></xs:element>
							<xs:element name="DecisionDivisionNumberOfPaired"
								type="xs:int"></xs:element>
							<xs:element name="DocumentTypeName" type="xs:string"></xs:element>
							<xs:element name="BillNumberCode"></xs:element>
							<xs:element name="BillLongTitle"></xs:element>
							<xs:element name="BillShortTitle"></xs:element>
							<xs:element name="PersonOfficialFirstName" type="xs:string"></xs:element>
							<xs:element name="PersonOfficialLastName" type="xs:string"></xs:element>
							<xs:element name="PersonShortHonorific"></xs:element>
							<xs:element name="ConstituencyName" type="xs:string"></xs:element>
							<xs:element name="ConstituencyProvinceTerritoryName"
								type="xs:string"></xs:element>
							<xs:element name="VoteValueName" type="xs:string"></xs:element>
							<xs:element name="IsVoteYea" type="xs:string"></xs:element>
							<xs:element name="IsVoteNay" type="xs:string"></xs:element>
							<xs:element name="IsVotePaired" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="xmlns:xsd" type="xs:string"></xs:attribute>
			<xs:attribute name="xmlns:xsi" type="xs:string"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>