schemas/MemberVotes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Wed Mar 25 2015 16:07:46 
		GMT-0400 (EDT) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="memberVotes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="voteParticipant" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="parliamentNumber" type="xs:int"></xs:element>
							<xs:element name="sessionNumber" type="xs:int"></xs:element>
							<xs:element name="decisionEventDateTime" type="xs:dateTime"></xs:element>
							<xs:element name="decisionResultName" type="xs:string"></xs:element>
							<xs:element name="decisionIsAgreedTo" type="xs:string"></xs:element>
							<xs:element name="decisionIsNegatived" type="xs:string"></xs:element>
							<xs:element name="decisionIsTied" type="xs:string"></xs:element>
							<xs:element name="decisionDivisionNumber" type="xs:int"></xs:element>
							<xs:element name="decisionDivisionSubject" type="xs:string"></xs:element>
							<xs:element name="decisionDivisionNumberOfYeas" type="xs:int"></xs:element>
							<xs:element name="decisionDivisionNumberOfNays" type="xs:int"></xs:element>
							<xs:element name="decisionDivisionNumberOfPaired"
								type="xs:int"></xs:element>
							<xs:element name="documentTypeName" type="xs:string"></xs:element>
							<xs:element name="billNumberCode"></xs:element>
							<xs:element name="billLongTitle"></xs:element>
							<xs:element name="billShortTitle"></xs:element>
							<xs:element name="personOfficialFirstName" type="xs:string"></xs:element>
							<xs:element name="personOfficialLastName" type="xs:string"></xs:element>
							<xs:element name="personShortHonorific"></xs:element>
							<xs:element name="constituencyName" type="xs:string"></xs:element>
							<xs:element name="constituencyProvinceTerritoryName"
								type="xs:string"></xs:element>
							<xs:element name="voteValueName" type="xs:string"></xs:element>
							<xs:element name="isVoteYea" type="xs:string"></xs:element>
							<xs:element name="isVoteNay" type="xs:string"></xs:element>
							<xs:element name="isVotePaired" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="xmlns:xsd" type="xs:string"></xs:attribute>
			<xs:attribute name="xmlns:xsi" type="xs:string"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>