schemas/Votes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Wed Mar 25 2015 15:08:25 
		GMT-0400 (EDT) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="votes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="vote" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="description" type="xs:string"></xs:element>
							<xs:element name="decision" type="xs:string"></xs:element>
							<xs:element name="relatedBill">
								<xs:complexType>
									<xs:attribute name="number" type="xs:string"></xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="totalYeas" type="xs:int"></xs:element>
							<xs:element name="totalNays" type="xs:int"></xs:element>
							<xs:element name="totalPaired" type="xs:int"></xs:element>
						</xs:sequence>
						<xs:attribute name="number" type="xs:int"></xs:attribute>
						<xs:attribute name="parliament" type="xs:int"></xs:attribute>
						<xs:attribute name="session" type="xs:int"></xs:attribute>
						<xs:attribute name="sitting" type="xs:int"></xs:attribute>
						<xs:attribute name="date" type="xs:date"></xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="schemaVersion" type="xs:int"></xs:attribute>
			<xs:attribute name="parliament" type="xs:int"></xs:attribute>
			<xs:attribute name="session" type="xs:int"></xs:attribute>
			<xs:attribute name="sitting" type="xs:string"></xs:attribute>
			<xs:attribute name="votesRespecting" type="xs:string"></xs:attribute>
			<xs:attribute name="fromDate" type="xs:date"></xs:attribute>
			<xs:attribute name="toDate" type="xs:date"></xs:attribute>
			<xs:attribute name="yea" type="xs:string"></xs:attribute>
			<xs:attribute name="nay" type="xs:string"></xs:attribute>
			<xs:attribute name="paired" type="xs:string"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>